/* цвет заголовков - #DC56C5 */
/* цвет текста - #939393 */
/* цвет таргета - # */
/* цвет бекграунда - #0e0e0e */
/* белый - #FFFFFF */
/* черный - #000000 */

$title-color: #DC56C5;
$text-color: #939393;
$background-color: #0e0e0e;
$button-color: #4C00FE;
$modal-color: #FFF2FD;
$white: #FFFFFF;
$black: #000000;
// $border-color: #ECECEC;
// $icon-color: #afb1b8;
// $target-color: #;