.backdrop {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background: rgba(32, 13, 29, 0.60);
  backdrop-filter: blur(1.5px);

  overflow: scroll;
}

.modal {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 30;

  padding: 80px 21px 100px 16px;
  min-width: 280px;

  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;

  background-color: $modal-color;
  color: $background-color;

  text-align: center;

  @include mq(tablet) {
    display: flex;
    flex-direction: column;

    padding: 48px 30px 42px 106px;
    min-width: 704px;
    min-height: 933px;

    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;

    text-align: left;

  }

  @include mq(desktop) {
    padding: 54px 74px;
    min-width: 1034px;
    min-height: 933px;
  }
}

.modal__closeWrapp {
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal h2 {
  font-weight: 600;
  margin-bottom: 5px;
}

.modal__img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  border-radius: 50px;
  object-fit: cover;

  @include mq(tablet) {
    width: 70px;
    height: 70px;

    margin-left: 233px;
    margin-bottom: 40px;
  }

  @include mq(desktop) {
    width: 132px;
    height: 132px;

    margin-left: 371px;

    border-radius: 70px;
  }
}

.modal__firstWrapp {
  display: flex;
}

.modal__bigImg {
  width: 249px;
  height: 217px;
  margin-right: 32px;
  margin-bottom: 16px;

  object-fit: cover;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(desktop) {
    width: 427px;
    height: 326px;
  }
}

.modal__location-desktop {
  @include mq(tablet) {
    display: none;
  }

  @include mq(desktop) {
    display: block;
  }
}

.modal__location-tablet {
  @include mq(tablet) {
    display: block;
  }

  @include mq(desktop) {
    display: none;
  }
}

.modal__div:not(:last-child) {
  margin-bottom: 16px;
}

.modal .modal__name {
  @include mq(desktop) {
    margin-bottom: 20px;
  }
}

.modal .modal__price {
  margin-bottom: 0;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.barcode {
  fill: $black;
  margin-right: 13px;
}

.modal__priceTitle {
  @include mq(tablet) {
    margin-right: 350px;
  }

  @include mq(desktop) {
    margin-right: 550px;
  }
}

.modal .modal__standartPrice {
  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.modal__priceWrapp {
  display: flex;

  @include mq(mobile-only) {
    justify-content: center;
  }
}

.modal__button {
  height: 40px;
  border-radius: 5px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  padding: 9px 19px 11px 19px;

  background-color: $button-color;
  border-color: $button-color;

  cursor: pointer;
}

.modal__standartBtn {

  // отступил от кнопки, а не от контейнера
  @include mq(tablet) {
    margin-right: 117px;
  }

  @include mq(desktop) {
    margin-right: 179px;
  }
}

.modal__buyLink {
  color: $white;
}

.modal__buttonMore {
  padding: 10px 3px;

  margin-top: 24px;

  background-color: $modal-color;
  border-color: $button-color;
  color: $button-color;

  @include mq(tablet) {
    margin-top: 60px;
    margin-left: 137px;

    padding: 10px 15px;

  }

  @include mq(desktop) {
    margin-left: 309px;
  }
}